@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --cyan-primary: rgb(42, 178, 175);
  --cyan-secondary: rgb(74,190,189);
  --bright-yellow: rgb(192, 223, 52);
  --light-gray: rgb(229, 239, 245);
  --grayish-blue: rgb(152, 166, 189);
}

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(204, 43%, 93%);
}

main {
  margin: 3rem;
  max-width: 100vw;
}

h1, h2, h3 { font-weight: 700; }

h1 {

  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
}

#s-1 h1 {
  color: var(--cyan-primary);
}

#s-1 h2 {
  color: var(--bright-yellow);
}

section {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* centers the text vertically for the section */
  border: none;
}

#s-1 {
  background-color: white;
  border-radius: 5px 5px 0 0;
}

#s-1 p {
  color: var(--grayish-blue);
  line-height: 1.5rem;
}

#s-2 {
  background-color: var(--cyan-primary);
}

#s-3 {
  background-color: var(--cyan-secondary);
  border-radius: 0 0 5px 5px;
}

.price-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#monthly-price {
  font-size: 2rem;
  font-weight: 700;
}

.pay-frequency {
  margin-left: 0.5rem;
  font-weight: 200;
}

.access {
  margin-bottom: 1.5rem;
}

.button {
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--light-gray);
  background-color: var(--bright-yellow);
  transition: all 400ms linear;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  color: var(--bright-yellow);
  background-color: var(--light-gray);
  cursor: pointer;
}

/* section 3 */

.about {
  line-height: 1.3rem;
}

/* footer */

footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bright-yellow);
  color: var(--light-gray);
}

.attribution a {
  color: var(--cyan-primary); 
  text-decoration: none;
}

/* Responsive CSS Grid Styles */

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 100%;}
.col-2 {width: 100%;}
.col-3 {width: 100%;}
.col-4 {width: 100%;}
.col-5 {width: 100%;}
.col-6 {width: 100%;}
.col-7 {width: 100%;}
.col-8 {width: 100%;}
.col-9 {width: 100%;}
.col-10 {width: 100%;}
.col-11 {width: 100%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}

/* Mobile first design */


@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
