@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --cyan-primary: rgb(42, 178, 175);
  --cyan-secondary: rgb(74,190,189);
  --bright-yellow: rgb(192, 223, 52);
  --light-gray: rgb(229, 239, 245);
  --grayish-blue: rgb(152, 166, 189);
}

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  color: var(--light-gray);
}

h1, h2, h3, h4 { font-weight: 700; }

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 16px;
}

section {
  padding: 2.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
}

#heading-txt {
  color: var(--cyan-primary);
}

#incentive {
  color: var(--bright-yellow);
  letter-spacing: -1px;
}

#s-1, #s-2, #s-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* centers the text vertically for the section */
}

#s-1 {
  grid-column: 1 / span 2;
  /* makes it span the 2 columns */  
}

#s-1 p {
  color: var(--grayish-blue);
  line-height: 1.5rem;
  font-size: 1.3rem;
}

#s-2 {
  background-color: var(--cyan-primary);
}

#s-3 {
  background-color: var(--cyan-secondary);
}

.price-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#monthly-price {
  font-size: 2rem;
  font-weight: 700;
}

.pay-frequency {
  margin-left: 0.5rem;
  font-weight: 200;
}

.access {
  margin-bottom: 1.5rem;
}

.button {
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--light-gray);
  background-color: var(--bright-yellow);
  transition: all 400ms linear;
}

.button:hover {
  color: var(--bright-yellow);
  background-color: var(--light-gray);
  cursor: pointer;
}